<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
   이름:<%=name%><br>
   성별:<%=gender%><br>
   생년월일:<%=yy%>년<%=mm%>월<%=dd%>일<br>
   관심사:<%=hobby%>
</body>
</html>